@import "tailwindcss";

@theme {
  --font-heading: var(--geologica);
  --font-body: var(--lora);
  /* --breakpoint-xl: 1280px; */
}

body {
  margin: 0;
  font-family: var(--lora);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--geologica);
}

.mySwiper .swiper-pagination-bullet {
  background: #609647; /* gray */
  opacity: 1;
}

.mySwiper .swiper-pagination-bullet-active {
  background: #93c553;
  scale: 1.5; /* green */
}
